<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4" th:replace="~{fragments/layout :: layout(~{::body},'index')}">
<head>
    <title>Timespace:: a holiday allocation system</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{../css/timespace.css}" />
</head>
<body>
<div class="container">

	<h2>Timespace Portal</h2>
	<br>
     <h4>Welcome  <span sec:authentication="name"></span> </h4>
     <span th:text="${message}">empl id</span>
     <div class="d-flex mb-3" sec:authorize="hasRole('EMPLOYEE')">
  		<div class="p-2">
  			<a class="box bg-info " th:href="@{/employee/requestholiday}">Request Holiday</a>
  		</div>
  		<div class="p-2">
  			<a class="box bg-warning" th:href="@{/employee/details}">Your Employee Details</a>
  		</div>
  		<div sec:authorize="hasRole('MANAGER')" class="p-2">
  			<a class="box bg-primary" th:href="@{/manager/listsubordinates}">List subordinates</a>
  		</div>
  			<div sec:authorize="hasRole('HR')" class="p-2" >
  			<a class="box bg-info " href="/humanresource/addemployee">Add new Employee</a>
  		</div>
  		<div class="p-2" sec:authorize="hasRole('HR')">
  			<a class="box bg-warning" href="/humanresource/listemployee">List all Employees</a>
  		</div>
  	
	</div>
	
	     <div class="d-flex mb-3" sec:authorize="hasRole('HR')">
  
  			<div class="p-2" >
  			<a class="box bg-info " href="/humanresource/addemployee">Add new Employee</a>
  		</div>
  		<div class="p-2" >
  			<a class="box bg-warning" href="/humanresource/listemployee">List all Employees</a>
  		</div>
  	
	</div>
	   
	

  
	
     

  

         
         
</div>
</body>
</html>