<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Timespace:: a holiday allocation system</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{../css/timespace.css}" />
</head>
<body>
<div class="container">
<h1>Welcome to Timespace Holiday Allocation</h1>

   <div> Please Login <a href="/login">Here</a>  </div>
    
    </div>
</body>
</html>
